HeaderFooter/Service References/LTContentStoreReference/LTContentStore2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/System.Collections.Generic" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://iws.dev.tree.com/LTContentStoreService/LTContentStore.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://iws.dev.tree.com/LTContentStoreService/LTContentStore.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LTContentStore.Entities" />
  <xs:complexType name="ArrayOfKeyValuePairOfstringint">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValuePairOfstringint" type="tns:KeyValuePairOfstringint" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValuePairOfstringint" nillable="true" type="tns:ArrayOfKeyValuePairOfstringint" />
  <xs:complexType name="KeyValuePairOfstringint">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="KeyValuePairOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="key" nillable="true" type="xs:string" />
      <xs:element name="value" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KeyValuePairOfstringint" nillable="true" type="tns:KeyValuePairOfstringint" />
  <xs:complexType name="ArrayOfKeyValuePairOfLoanOfficerFieldsstringIh_PHxhEZ">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValuePairOfLoanOfficerFieldsstringIh_PHxhEZ" type="tns:KeyValuePairOfLoanOfficerFieldsstringIh_PHxhEZ" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValuePairOfLoanOfficerFieldsstringIh_PHxhEZ" nillable="true" type="tns:ArrayOfKeyValuePairOfLoanOfficerFieldsstringIh_PHxhEZ" />
  <xs:complexType name="KeyValuePairOfLoanOfficerFieldsstringIh_PHxhEZ">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="KeyValuePairOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="LoanOfficerFields" Namespace="http://schemas.datacontract.org/2004/07/LTContentStore.Entities" />
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LTContentStore.Entities" name="key" type="q1:LoanOfficerFields" />
      <xs:element name="value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KeyValuePairOfLoanOfficerFieldsstringIh_PHxhEZ" nillable="true" type="tns:KeyValuePairOfLoanOfficerFieldsstringIh_PHxhEZ" />
</xs:schema>