HeaderFooter/Service References/LTContentStoreReference/LTContentStore1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/LTContentStore.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LTContentStore.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://iws.dev.tree.com/LTContentStoreService/LTContentStore.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://iws.dev.tree.com/LTContentStoreService/LTContentStore.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://iws.dev.tree.com/LTContentStoreService/LTContentStore.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" />
  <xs:complexType name="LTContent">
    <xs:sequence>
      <xs:element minOccurs="0" name="BbbRating" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BbbRatingUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CanonicalPath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ChildContent" nillable="true" type="tns:ArrayOfLTContent" />
      <xs:element minOccurs="0" name="ContentGroup" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContentId" type="xs:int" />
      <xs:element minOccurs="0" name="ContentKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContentType" type="tns:ContentType" />
      <xs:element minOccurs="0" name="IsBbbAccredited" type="xs:boolean" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Keywords" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="LTContentGroup" nillable="true" type="tns:LTContentGroup" />
      <xs:element minOccurs="0" name="LegacyPath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SortOrder" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LTContent" nillable="true" type="tns:LTContent" />
  <xs:complexType name="ArrayOfLTContent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LTContent" nillable="true" type="tns:LTContent" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLTContent" nillable="true" type="tns:ArrayOfLTContent" />
  <xs:simpleType name="ContentType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown" />
      <xs:enumeration value="Article" />
      <xs:enumeration value="Bio" />
      <xs:enumeration value="FAQ" />
      <xs:enumeration value="GlossaryTerm" />
      <xs:enumeration value="MediaNews" />
      <xs:enumeration value="PDF" />
      <xs:enumeration value="PressRelease" />
      <xs:enumeration value="Link" />
      <xs:enumeration value="ProductPage" />
      <xs:enumeration value="Page" />
      <xs:enumeration value="Lender" />
      <xs:enumeration value="RatePage" />
      <xs:enumeration value="LoanOfficer" />
      <xs:enumeration value="Calculator" />
      <xs:enumeration value="AutosArticle" />
      <xs:enumeration value="FlashCard" />
      <xs:enumeration value="Video" />
      <xs:enumeration value="FlashCardDeck" />
      <xs:enumeration value="InfoPanel" />
      <xs:enumeration value="HeroBanner" />
      <xs:enumeration value="BannerCarousel" />
      <xs:enumeration value="VideoPlaylist" />
      <xs:enumeration value="Question" />
      <xs:enumeration value="Answer" />
      <xs:enumeration value="Guide" />
      <xs:enumeration value="Tab" />
      <xs:enumeration value="Teacher" />
      <xs:enumeration value="CreditCard" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ContentType" nillable="true" type="tns:ContentType" />
  <xs:complexType name="LTContentGroup">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ChildGroups" nillable="true" type="q2:ArrayOfstring" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="ImageURL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsVisibleForGlossary" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParentGroup" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QuestionAnswerTopic" type="xs:boolean" />
      <xs:element minOccurs="0" name="SEODescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SEOKeywords" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SEOTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SortOrder" type="xs:int" />
      <xs:element minOccurs="0" name="UseRecommendedArticles" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LTContentGroup" nillable="true" type="tns:LTContentGroup" />
  <xs:complexType name="LTInfoPanel">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:LTContent">
        <xs:sequence>
          <xs:element minOccurs="0" name="CssClass" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Header" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LTInfoPanel" nillable="true" type="tns:LTInfoPanel" />
  <xs:complexType name="TeacherAward">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:LTContent">
        <xs:sequence>
          <xs:element minOccurs="0" name="AddressLine1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AddressLine2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ContestId" type="xs:int" />
          <xs:element minOccurs="0" name="DOB" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Essay" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FaceBookUserId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ImageUrl" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="InsertDateTime" type="xs:dateTime" />
          <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NominationSelected" type="xs:boolean" />
          <xs:element minOccurs="0" name="NominatorEmail" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NominatorFirstName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NominatorLastName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PostalCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PrincipalFirstName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PrincipalLastName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RelationshipToTeacher" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SchoolName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TeacherAwardId" type="xs:int" />
          <xs:element minOccurs="0" name="TeacherGradeLevel" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TotalVotes" type="xs:int" />
          <xs:element minOccurs="0" name="Winner" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TeacherAward" nillable="true" type="tns:TeacherAward" />
  <xs:complexType name="LTFlashCard">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:LTContent">
        <xs:sequence>
          <xs:element minOccurs="0" name="CSSClass" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Header" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SEODescription" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SEOTitle" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LTFlashCard" nillable="true" type="tns:LTFlashCard" />
  <xs:complexType name="LTVideo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:LTContent">
        <xs:sequence>
          <xs:element minOccurs="0" name="BlogFeedUrl" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Body" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Duration" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ImageUrl" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NumberOfViews" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="PublicationDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="SEODescription" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SEOTitle" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Uri" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="VideoType" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LTVideo" nillable="true" type="tns:LTVideo" />
  <xs:complexType name="LTTab">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:LTContent">
        <xs:sequence>
          <xs:element minOccurs="0" name="MenuTitle" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ShortTitle" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LTTab" nillable="true" type="tns:LTTab" />
  <xs:complexType name="LTFAQ">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:LTContent">
        <xs:sequence>
          <xs:element minOccurs="0" name="Answer" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Question" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LTFAQ" nillable="true" type="tns:LTFAQ" />
  <xs:complexType name="LTGlossaryTerm">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:LTContent">
        <xs:sequence>
          <xs:element minOccurs="0" name="Definition" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Detail" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RecommendedContentGroups" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SEODescription" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SEOTitle" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SourceText" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SourceTitle" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Term" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LTGlossaryTerm" nillable="true" type="tns:LTGlossaryTerm" />
  <xs:complexType name="LTPDF">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:LTContent">
        <xs:sequence>
          <xs:element minOccurs="0" name="DocumentSize" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NumberOfPages" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="SEODescription" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SEOTitle" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Summary" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LTPDF" nillable="true" type="tns:LTPDF" />
  <xs:complexType name="LTLink">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:LTContent">
        <xs:sequence>
          <xs:element minOccurs="0" name="AltText" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LTLink" nillable="true" type="tns:LTLink" />
  <xs:complexType name="LTPage">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:LTContent">
        <xs:sequence>
          <xs:element minOccurs="0" name="BlogFeedUrl" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Body" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Css" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FormStart" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Header" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ImageURL" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="JS" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SEODescription" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SEOTitle" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Subheader" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ViewFile" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LTPage" nillable="true" type="tns:LTPage" />
  <xs:complexType name="LTRatePage">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:LTPage">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LTRatePage" nillable="true" type="tns:LTRatePage" />
  <xs:complexType name="LTArticle">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:LTPage">
        <xs:sequence>
          <xs:element minOccurs="0" name="Author" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IncludeInRSSFeed" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsDeleted" type="xs:boolean" />
          <xs:element minOccurs="0" name="LegacyAuthor" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PublicationDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="ShortDescription" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ShortTitle" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SkywordId" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LTArticle" nillable="true" type="tns:LTArticle" />
  <xs:complexType name="LTPressRelease">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:LTPage">
        <xs:sequence>
          <xs:element minOccurs="0" name="PublicationDate" nillable="true" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LTPressRelease" nillable="true" type="tns:LTPressRelease" />
  <xs:complexType name="LTMediaNews">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:LTPage">
        <xs:sequence>
          <xs:element minOccurs="0" name="Author" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Publication" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PublicationDate" nillable="true" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LTMediaNews" nillable="true" type="tns:LTMediaNews" />
  <xs:complexType name="LTProductPage">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:LTPage">
        <xs:sequence>
          <xs:element minOccurs="0" name="IsSummary" type="xs:boolean" />
          <xs:element minOccurs="0" name="MenuTitle" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RightRail" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Teaser" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LTProductPage" nillable="true" type="tns:LTProductPage" />
  <xs:complexType name="LTLender">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:LTContent">
        <xs:sequence>
          <xs:element minOccurs="0" name="Address" nillable="true" type="tns:Address" />
          <xs:element minOccurs="0" name="CertificationExpiration" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="CertifiedLoanOfficers" nillable="true" type="tns:ArrayOfLTCertifiedLoanOfficer" />
          <xs:element minOccurs="0" name="ContentKeyForReviews" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsActiveCertification" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsLendingtreeCertified" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsParentLender" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsReviewable" type="xs:boolean" />
          <xs:element minOccurs="0" name="LastLeadDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="LenderID" type="xs:int" />
          <xs:element minOccurs="0" name="LenderTypeId" type="xs:int" />
          <xs:element minOccurs="0" name="LogoUrl" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NMLS_Id" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PhoneExtension" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
          <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ProductCategories" nillable="true" type="q3:ArrayOfstring" />
          <xs:element minOccurs="0" name="ProductCategory" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ReviewStats" nillable="true" type="tns:RatingAndReviewStats" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LTLender" nillable="true" type="tns:LTLender" />
  <xs:complexType name="Address">
    <xs:sequence>
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostalCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Street1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Street2" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Address" nillable="true" type="tns:Address" />
  <xs:complexType name="ArrayOfLTCertifiedLoanOfficer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LTCertifiedLoanOfficer" nillable="true" type="tns:LTCertifiedLoanOfficer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLTCertifiedLoanOfficer" nillable="true" type="tns:ArrayOfLTCertifiedLoanOfficer" />
  <xs:complexType name="LTCertifiedLoanOfficer">
    <xs:sequence>
      <xs:element minOccurs="0" name="CertificationEffectiveDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CertificationExpirationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CertificationTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsInLoanOfficerDirectory" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LenderId" type="xs:int" />
      <xs:element minOccurs="0" name="LoanOfficerDirectoryContentKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NMLS_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Suffix" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LTCertifiedLoanOfficer" nillable="true" type="tns:LTCertifiedLoanOfficer" />
  <xs:complexType name="RatingAndReviewStats">
    <xs:sequence>
      <xs:element minOccurs="0" name="Average30DaysReviewRating" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="AvgCustomerServiceRating" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="AvgFeesAndClosingCostRating" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="AvgOverallRating" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="AvgRateRating" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="AvgResponsivenessRating" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="EffectiveStarRating" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="LatestReviewSubmitted" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NumberOfRatingsOnlyReviews" type="xs:int" />
      <xs:element minOccurs="0" name="NumberOfRecommendations" type="xs:int" />
      <xs:element minOccurs="0" name="NumberOfReviews" type="xs:int" />
      <xs:element minOccurs="0" name="NumberOf_1_Votes" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="NumberOf_2_Votes" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="NumberOf_3_Votes" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="NumberOf_4_Votes" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="NumberOf_5_Votes" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RatingAndReviewStats" nillable="true" type="tns:RatingAndReviewStats" />
  <xs:complexType name="LoanOfficer">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:LTContent">
        <xs:sequence>
          <xs:element minOccurs="0" name="Address" nillable="true" type="tns:Address" />
          <xs:element minOccurs="0" name="AuthorizationUID" nillable="true" type="ser:guid" />
          <xs:element minOccurs="0" name="CertificationTypeId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EmployerName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EmploymentStartDate" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="GamificationScore" type="xs:int" />
          <xs:element minOccurs="0" name="HasAcceptedQnATerms" type="xs:boolean" />
          <xs:element minOccurs="0" name="HasActiveLicense" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsClaimedProfile" type="xs:boolean" />
          <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LenderAddressLine1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LenderAddressLine2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LenderCity" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LenderId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LenderNMLS_ID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LenderName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LenderPostalCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LenderState" nillable="true" type="xs:string" />
          <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="LicensedStates" nillable="true" type="q4:ArrayOfstring" />
          <xs:element minOccurs="0" name="LogoUrl" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MiddleName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NMLS_Id" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NetworkLenderContentKey" nillable="true" type="xs:string" />
          <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="NmlsNames" nillable="true" type="q5:ArrayOfstring" />
          <xs:element minOccurs="0" name="NotificationFrequency" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="PhoneExtension" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ReviewStats" nillable="true" type="tns:RatingAndReviewStats" />
          <xs:element minOccurs="0" name="SocialMediaContactInformation" nillable="true" type="tns:ArrayOfSocialMediaContactInfo" />
          <xs:element minOccurs="0" name="Suffix" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UrlAlias" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="VerificationCode" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LoanOfficer" nillable="true" type="tns:LoanOfficer" />
  <xs:complexType name="ArrayOfSocialMediaContactInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SocialMediaContactInfo" nillable="true" type="tns:SocialMediaContactInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSocialMediaContactInfo" nillable="true" type="tns:ArrayOfSocialMediaContactInfo" />
  <xs:complexType name="SocialMediaContactInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="SocialMediaType" type="tns:SocialMediaType" />
      <xs:element minOccurs="0" name="SocialMediaUsername" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserAccessToken" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SocialMediaContactInfo" nillable="true" type="tns:SocialMediaContactInfo" />
  <xs:simpleType name="SocialMediaType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Facebook">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Twitter">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="LinkedIn">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Unknown">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">0</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SocialMediaType" nillable="true" type="tns:SocialMediaType" />
  <xs:complexType name="LTCalculator">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:LTContent">
        <xs:sequence>
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Header" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SEODescription" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SEOTitle" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Teaser" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LTCalculator" nillable="true" type="tns:LTCalculator" />
  <xs:complexType name="LTBio">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:LTContent">
        <xs:sequence>
          <xs:element minOccurs="0" name="Body" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="JobTitle" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LTBio" nillable="true" type="tns:LTBio" />
  <xs:complexType name="LTFlashCardDeck">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:LTContent">
        <xs:sequence>
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Header" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SEODescription" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SEOTitle" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LTFlashCardDeck" nillable="true" type="tns:LTFlashCardDeck" />
  <xs:complexType name="AutosArticle">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:LTContent">
        <xs:sequence>
          <xs:element minOccurs="0" name="Author" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Body" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Header" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PublicationDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="SEODescription" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SEOTitle" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ShortDescription" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Subheader" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AutosArticle" nillable="true" type="tns:AutosArticle" />
  <xs:complexType name="LTHeroBanner">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:LTContent">
        <xs:sequence>
          <xs:element minOccurs="0" name="Body" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Css" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="JS" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MenuTitle" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LTHeroBanner" nillable="true" type="tns:LTHeroBanner" />
  <xs:complexType name="LTBannerCarousel">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:LTContent">
        <xs:sequence>
          <xs:element minOccurs="0" name="Css" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Header" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MenuTitle" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LTBannerCarousel" nillable="true" type="tns:LTBannerCarousel" />
  <xs:complexType name="LTVideoPlaylist">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:LTContent">
        <xs:sequence>
          <xs:element minOccurs="0" name="Css" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Header" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MenuTitle" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LTVideoPlaylist" nillable="true" type="tns:LTVideoPlaylist" />
  <xs:complexType name="Question">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:LTContent">
        <xs:sequence>
          <xs:element minOccurs="0" name="Detail" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsValid" type="xs:boolean" />
          <xs:element minOccurs="0" name="LastAnsweredByTreeAuthUserUID" nillable="true" type="ser:guid" />
          <xs:element minOccurs="0" name="MostRecentAnswerPostedDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="NetVotes" type="xs:int" />
          <xs:element minOccurs="0" name="NotifyEmail" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PostedByTreeAuthUserUID" type="ser:guid" />
          <xs:element minOccurs="0" name="PostedDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="RequiresUserNotification" type="xs:boolean" />
          <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
          <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Topics" nillable="true" type="q6:ArrayOfstring" />
          <xs:element minOccurs="0" name="TotalAnswerCount" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Question" nillable="true" type="tns:Question" />
  <xs:complexType name="Answer">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:LTContent">
        <xs:sequence>
          <xs:element minOccurs="0" name="Detail" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsValid" type="xs:boolean" />
          <xs:element minOccurs="0" name="LoanOfficerTreeAuthUserUID" type="ser:guid" />
          <xs:element minOccurs="0" name="NetVotes" type="xs:int" />
          <xs:element minOccurs="0" name="PostedDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="QuestionContentKey" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="QuestionId" type="xs:int" />
          <xs:element minOccurs="0" name="Votes" nillable="true" type="tns:ArrayOfVote" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Answer" nillable="true" type="tns:Answer" />
  <xs:complexType name="ArrayOfVote">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Vote" nillable="true" type="tns:Vote" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVote" nillable="true" type="tns:ArrayOfVote" />
  <xs:complexType name="Vote">
    <xs:sequence>
      <xs:element minOccurs="0" name="AnswerContentKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IsVoteUp" type="xs:int" />
      <xs:element minOccurs="0" name="PostedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="QuestionContentKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserAuthId" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Vote" nillable="true" type="tns:Vote" />
  <xs:complexType name="LTGuides">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:LTPage">
        <xs:sequence>
          <xs:element minOccurs="0" name="RightRail" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LTGuides" nillable="true" type="tns:LTGuides" />
  <xs:complexType name="ArrayOfLTContentGroup">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LTContentGroup" nillable="true" type="tns:LTContentGroup" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLTContentGroup" nillable="true" type="tns:ArrayOfLTContentGroup" />
  <xs:complexType name="LTContentQueryResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="LTContentCounts" nillable="true" type="tns:ArrayOfLTContentCount" />
      <xs:element minOccurs="0" name="LTContents" nillable="true" type="tns:ArrayOfLTContent" />
      <xs:element minOccurs="0" name="LenderReviews" nillable="true" type="tns:ArrayOfLenderReview" />
      <xs:element minOccurs="0" name="PageIndex" type="xs:int" />
      <xs:element minOccurs="0" name="PageSize" type="xs:int" />
      <xs:element minOccurs="0" name="SearchString" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalRecords" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LTContentQueryResponse" nillable="true" type="tns:LTContentQueryResponse" />
  <xs:complexType name="ArrayOfLTContentCount">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LTContentCount" nillable="true" type="tns:LTContentCount" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLTContentCount" nillable="true" type="tns:ArrayOfLTContentCount" />
  <xs:complexType name="LTContentCount">
    <xs:sequence>
      <xs:element minOccurs="0" name="FieldName" nillable="true" type="xs:string" />
      <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/System.Collections.Generic" minOccurs="0" name="Results" nillable="true" type="q7:ArrayOfKeyValuePairOfstringint" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LTContentCount" nillable="true" type="tns:LTContentCount" />
  <xs:complexType name="ArrayOfLenderReview">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LenderReview" nillable="true" type="tns:LenderReview" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLenderReview" nillable="true" type="tns:ArrayOfLenderReview" />
  <xs:complexType name="LenderReview">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomerServiceRating" type="xs:int" />
      <xs:element minOccurs="0" name="FeesAndCostsRating" type="xs:int" />
      <xs:element minOccurs="0" name="IsVerifiedCustomer" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="LenderKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LoanClosedDateTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LoanRequestDateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NumberOfVotesDown" type="xs:int" />
      <xs:element minOccurs="0" name="NumberOfVotesUp" type="xs:int" />
      <xs:element minOccurs="0" name="OverallRating" type="xs:int" />
      <xs:element minOccurs="0" name="RateRating" type="xs:int" />
      <xs:element minOccurs="0" name="ResponsivenessRating" type="xs:int" />
      <xs:element minOccurs="0" name="ReviewDateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ReviewId" type="xs:int" />
      <xs:element minOccurs="0" name="ReviewText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReviewTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserLocation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserNickname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserRecommends" type="xs:boolean" />
      <xs:element minOccurs="0" name="UserUID" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LenderReview" nillable="true" type="tns:LenderReview" />
  <xs:complexType name="ArrayOfLTGlossaryTerm">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LTGlossaryTerm" nillable="true" type="tns:LTGlossaryTerm" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLTGlossaryTerm" nillable="true" type="tns:ArrayOfLTGlossaryTerm" />
  <xs:complexType name="ArrayOfLTArticle">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LTArticle" nillable="true" type="tns:LTArticle" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLTArticle" nillable="true" type="tns:ArrayOfLTArticle" />
  <xs:complexType name="ArrayOfAppSetting">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AppSetting" nillable="true" type="tns:AppSetting" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAppSetting" nillable="true" type="tns:ArrayOfAppSetting" />
  <xs:complexType name="AppSetting">
    <xs:sequence>
      <xs:element minOccurs="0" name="Key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AppSetting" nillable="true" type="tns:AppSetting" />
  <xs:complexType name="LTContentQueryRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="FacetRequest" nillable="true" type="tns:ArrayOfFacetBy" />
      <xs:element minOccurs="0" name="PageIndex" type="xs:int" />
      <xs:element minOccurs="0" name="PageSize" type="xs:int" />
      <xs:element minOccurs="0" name="SearchRequest" nillable="true" type="tns:QueryBlock" />
      <xs:element minOccurs="0" name="SortRequest" nillable="true" type="tns:ArrayOfSortBy" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LTContentQueryRequest" nillable="true" type="tns:LTContentQueryRequest" />
  <xs:complexType name="ArrayOfFacetBy">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FacetBy" nillable="true" type="tns:FacetBy" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFacetBy" nillable="true" type="tns:ArrayOfFacetBy" />
  <xs:complexType name="FacetBy">
    <xs:sequence>
      <xs:element minOccurs="0" name="FacetByOrder" type="tns:FacetOrder" />
      <xs:element minOccurs="0" name="PageIndex" type="xs:int" />
      <xs:element minOccurs="0" name="PageSize" type="xs:int" />
      <xs:element minOccurs="0" name="QueryField" nillable="true" type="tns:QueryField" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FacetBy" nillable="true" type="tns:FacetBy" />
  <xs:simpleType name="FacetOrder">
    <xs:restriction base="xs:string">
      <xs:enumeration value="OrderByCount" />
      <xs:enumeration value="OrderByName" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="FacetOrder" nillable="true" type="tns:FacetOrder" />
  <xs:complexType name="QueryField">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RangeIncrement" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValueRangeTo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QueryField" nillable="true" type="tns:QueryField" />
  <xs:complexType name="QueryBlock">
    <xs:sequence>
      <xs:element minOccurs="0" name="Blocks" nillable="true" type="tns:ArrayOfQueryBlock" />
      <xs:element minOccurs="0" name="Fields" nillable="true" type="tns:ArrayOfQueryField" />
      <xs:element minOccurs="0" name="QueryByOperator" type="tns:QueryOperator" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QueryBlock" nillable="true" type="tns:QueryBlock" />
  <xs:complexType name="ArrayOfQueryBlock">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="QueryBlock" nillable="true" type="tns:QueryBlock" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQueryBlock" nillable="true" type="tns:ArrayOfQueryBlock" />
  <xs:complexType name="ArrayOfQueryField">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="QueryField" nillable="true" type="tns:QueryField" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQueryField" nillable="true" type="tns:ArrayOfQueryField" />
  <xs:simpleType name="QueryOperator">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AND" />
      <xs:enumeration value="OR" />
      <xs:enumeration value="DEFAULT" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="QueryOperator" nillable="true" type="tns:QueryOperator" />
  <xs:complexType name="ArrayOfSortBy">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SortBy" nillable="true" type="tns:SortBy" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSortBy" nillable="true" type="tns:ArrayOfSortBy" />
  <xs:complexType name="SortBy">
    <xs:sequence>
      <xs:element minOccurs="0" name="SortByField" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SortByOrder" type="tns:SortOrder" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SortBy" nillable="true" type="tns:SortBy" />
  <xs:simpleType name="SortOrder">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Ascending" />
      <xs:enumeration value="Descending" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SortOrder" nillable="true" type="tns:SortOrder" />
  <xs:complexType name="Snippet">
    <xs:sequence>
      <xs:element minOccurs="0" name="HTMLContent" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Snippet" nillable="true" type="tns:Snippet" />
  <xs:complexType name="ArrayOfToken">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Token" nillable="true" type="tns:Token" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfToken" nillable="true" type="tns:ArrayOfToken" />
  <xs:complexType name="Token">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="TokenKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Token" nillable="true" type="tns:Token" />
  <xs:complexType name="ArrayOfDisclosure">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Disclosure" nillable="true" type="tns:Disclosure" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDisclosure" nillable="true" type="tns:ArrayOfDisclosure" />
  <xs:complexType name="Disclosure">
    <xs:sequence>
      <xs:element minOccurs="0" name="DisclosureId" type="xs:int" />
      <xs:element minOccurs="0" name="DisclosureKey" type="xs:int" />
      <xs:element minOccurs="0" name="Header" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
      <xs:element minOccurs="0" name="SubHeader" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TemplateId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Disclosure" nillable="true" type="tns:Disclosure" />
  <xs:complexType name="ArrayOfPromo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Promo" nillable="true" type="tns:Promo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPromo" nillable="true" type="tns:ArrayOfPromo" />
  <xs:complexType name="Promo">
    <xs:sequence>
      <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="DisclosureKeys" nillable="true" type="q8:ArrayOfint" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="PromoKey" type="xs:int" />
      <xs:element minOccurs="0" name="PublishDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="QuickMatch" type="xs:boolean" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
      <xs:element minOccurs="0" name="Templates" nillable="true" type="tns:ArrayOfPromoTemplate" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Promo" nillable="true" type="tns:Promo" />
  <xs:complexType name="ArrayOfPromoTemplate">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PromoTemplate" nillable="true" type="tns:PromoTemplate" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPromoTemplate" nillable="true" type="tns:ArrayOfPromoTemplate" />
  <xs:complexType name="PromoTemplate">
    <xs:sequence>
      <xs:element minOccurs="0" name="Copy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DisclaimerLink" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Header" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="MarketingImage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PromoId" type="xs:int" />
      <xs:element minOccurs="0" name="Show1800Num" type="xs:boolean" />
      <xs:element minOccurs="0" name="SubHeader" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TemplateKey" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PromoTemplate" nillable="true" type="tns:PromoTemplate" />
  <xs:complexType name="ArrayOfLoanOfficerName">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LoanOfficerName" nillable="true" type="tns:LoanOfficerName" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLoanOfficerName" nillable="true" type="tns:ArrayOfLoanOfficerName" />
  <xs:complexType name="LoanOfficerName">
    <xs:sequence>
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MiddleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Suffix" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoanOfficerName" nillable="true" type="tns:LoanOfficerName" />
  <xs:complexType name="ArrayOfLoanOfficerBranchLocation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LoanOfficerBranchLocation" nillable="true" type="tns:LoanOfficerBranchLocation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLoanOfficerBranchLocation" nillable="true" type="tns:ArrayOfLoanOfficerBranchLocation" />
  <xs:complexType name="LoanOfficerBranchLocation">
    <xs:sequence>
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LoanOfficerNMLSId" type="xs:long" />
      <xs:element minOccurs="0" name="LocationNMLSId" type="xs:long" />
      <xs:element minOccurs="0" name="LocationType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostalCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Street" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoanOfficerBranchLocation" nillable="true" type="tns:LoanOfficerBranchLocation" />
  <xs:simpleType name="LoanOfficerFields">
    <xs:restriction base="xs:string">
      <xs:enumeration value="FirstName" />
      <xs:enumeration value="MiddleName" />
      <xs:enumeration value="LastName" />
      <xs:enumeration value="Suffix" />
      <xs:enumeration value="AuthorizationUID" />
      <xs:enumeration value="NetworkLenderContentKey" />
      <xs:enumeration value="LenderName" />
      <xs:enumeration value="PhoneNumber" />
      <xs:enumeration value="PhoneExtention" />
      <xs:enumeration value="StreetAddress1" />
      <xs:enumeration value="StreetAddress2" />
      <xs:enumeration value="City" />
      <xs:enumeration value="State" />
      <xs:enumeration value="PostalCode" />
      <xs:enumeration value="EmailAddress" />
      <xs:enumeration value="Description" />
      <xs:enumeration value="LogoUrl" />
      <xs:enumeration value="NMLS_Id" />
      <xs:enumeration value="IsClaimedProfile" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="LoanOfficerFields" nillable="true" type="tns:LoanOfficerFields" />
  <xs:complexType name="ArrayOfLoanOfficer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LoanOfficer" nillable="true" type="tns:LoanOfficer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLoanOfficer" nillable="true" type="tns:ArrayOfLoanOfficer" />
  <xs:complexType name="ArrayOfFeaturedLoanOfficer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FeaturedLoanOfficer" nillable="true" type="tns:FeaturedLoanOfficer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFeaturedLoanOfficer" nillable="true" type="tns:ArrayOfFeaturedLoanOfficer" />
  <xs:complexType name="FeaturedLoanOfficer">
    <xs:sequence>
      <xs:element minOccurs="0" name="CurrentImpression" type="xs:int" />
      <xs:element minOccurs="0" name="LicenseEffectiveDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LicenseExpirationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LoanOfficerId" type="xs:int" />
      <xs:element minOccurs="0" name="MaxImpressions" type="xs:int" />
      <xs:element minOccurs="0" name="StateCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZipCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FeaturedLoanOfficer" nillable="true" type="tns:FeaturedLoanOfficer" />
  <xs:complexType name="RequestReview">
    <xs:sequence>
      <xs:element minOccurs="0" name="AnonymousUserID" type="ser:guid" />
      <xs:element minOccurs="0" name="CampaignID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ConsumerUID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContentTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="CustomerIpAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerServiceRating" type="xs:int" />
      <xs:element minOccurs="0" name="DateProvided" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExternalReviewID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="FeesRating" type="xs:int" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="IPAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsAuthenticated" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsModerationSubmitted" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsRecommending" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsVerified" type="xs:boolean" />
      <xs:element minOccurs="0" name="LoanClosedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LoanRequestedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ModerationStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModerationSubmissionTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NumberOfVotesDown" type="xs:int" />
      <xs:element minOccurs="0" name="NumberOfVotesUp" type="xs:int" />
      <xs:element minOccurs="0" name="OnTimeClose" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="OverallRating" type="xs:int" />
      <xs:element minOccurs="0" name="ProductID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductTypeDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PropertyZipCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QFormName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QFormRequestDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RateRating" type="xs:int" />
      <xs:element minOccurs="0" name="RatingsOnly" type="xs:boolean" />
      <xs:element minOccurs="0" name="RequestType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResponsivenessRating" type="xs:int" />
      <xs:element minOccurs="0" name="ReviewText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReviewTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReviewedContentType" type="tns:ContentType" />
      <xs:element minOccurs="0" name="ServiceProvided" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubmissionDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UserEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserLocation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserNickname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValidationMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RequestReview" nillable="true" type="tns:RequestReview" />
  <xs:complexType name="ReviewQueryResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="LenderReviews" nillable="true" type="tns:ArrayOfLenderReview" />
      <xs:element minOccurs="0" name="PageIndex" type="xs:int" />
      <xs:element minOccurs="0" name="PageSize" type="xs:int" />
      <xs:element minOccurs="0" name="TotalRecords" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReviewQueryResponse" nillable="true" type="tns:ReviewQueryResponse" />
  <xs:simpleType name="ReviewSortBy">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SubmittedDateTime" />
      <xs:enumeration value="Helpfulness" />
      <xs:enumeration value="OverallRating" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ReviewSortBy" nillable="true" type="tns:ReviewSortBy" />
  <xs:complexType name="ContentReviewQueryResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ContentReviews" nillable="true" type="tns:ArrayOfContentReview" />
      <xs:element minOccurs="0" name="PageIndex" type="xs:int" />
      <xs:element minOccurs="0" name="PageSize" type="xs:int" />
      <xs:element minOccurs="0" name="TotalRecords" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContentReviewQueryResponse" nillable="true" type="tns:ContentReviewQueryResponse" />
  <xs:complexType name="ArrayOfContentReview">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ContentReview" nillable="true" type="tns:ContentReview" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContentReview" nillable="true" type="tns:ArrayOfContentReview" />
  <xs:complexType name="ContentReview">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomerServiceRating" type="xs:int" />
      <xs:element minOccurs="0" name="FeesAndCostsRating" type="xs:int" />
      <xs:element minOccurs="0" name="IsVerifiedCustomer" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="LoanClosedDateTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LoanRequestDateTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NumberOfVotesDown" type="xs:int" />
      <xs:element minOccurs="0" name="NumberOfVotesUp" type="xs:int" />
      <xs:element minOccurs="0" name="OverallRating" type="xs:int" />
      <xs:element minOccurs="0" name="RateRating" type="xs:int" />
      <xs:element minOccurs="0" name="ResponsivenessRating" type="xs:int" />
      <xs:element minOccurs="0" name="ReviewDateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ReviewId" type="xs:int" />
      <xs:element minOccurs="0" name="ReviewText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReviewTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReviewedContentKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReviewedContentType" type="tns:ContentType" />
      <xs:element minOccurs="0" name="UserLocation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserNickname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserRecommends" type="xs:boolean" />
      <xs:element minOccurs="0" name="UserUID" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContentReview" nillable="true" type="tns:ContentReview" />
  <xs:complexType name="RequestReviewQueryResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Reviews" nillable="true" type="tns:ArrayOfRequestReview" />
      <xs:element minOccurs="0" name="TotalRecords" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RequestReviewQueryResponse" nillable="true" type="tns:RequestReviewQueryResponse" />
  <xs:complexType name="ArrayOfRequestReview">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RequestReview" nillable="true" type="tns:RequestReview" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRequestReview" nillable="true" type="tns:ArrayOfRequestReview" />
  <xs:complexType name="ReviewProduct">
    <xs:sequence>
      <xs:element minOccurs="0" name="AverageCustomerServiceRating" type="xs:decimal" />
      <xs:element minOccurs="0" name="AverageFeesAndCostsRating" type="xs:decimal" />
      <xs:element minOccurs="0" name="AverageOverallRating" type="xs:decimal" />
      <xs:element minOccurs="0" name="AverageRateRating" type="xs:decimal" />
      <xs:element minOccurs="0" name="AverageResponsivenessRating" type="xs:decimal" />
      <xs:element minOccurs="0" name="ContentTypeID" type="xs:int" />
      <xs:element minOccurs="0" name="ContentTypeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EffectiveStarRating" type="xs:decimal" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InsertTimestamp" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RatingsOnlyReviewCount" type="xs:int" />
      <xs:element minOccurs="0" name="RecommendedCount" type="xs:int" />
      <xs:element minOccurs="0" name="ReviewsCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReviewProduct" nillable="true" type="tns:ReviewProduct" />
  <xs:complexType name="RatingDistribution">
    <xs:sequence>
      <xs:element minOccurs="0" name="ContentTypeID" type="xs:int" />
      <xs:element minOccurs="0" name="Count" type="xs:int" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RatingValue" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RatingDistribution" nillable="true" type="tns:RatingDistribution" />
  <xs:complexType name="ArrayOfReviewProduct">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReviewProduct" nillable="true" type="tns:ReviewProduct" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReviewProduct" nillable="true" type="tns:ArrayOfReviewProduct" />
  <xs:complexType name="ArrayOfLoanOfficerInvitee">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LoanOfficerInvitee" nillable="true" type="tns:LoanOfficerInvitee" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLoanOfficerInvitee" nillable="true" type="tns:ArrayOfLoanOfficerInvitee" />
  <xs:complexType name="LoanOfficerInvitee">
    <xs:sequence>
      <xs:element minOccurs="0" name="InviteeContentKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InviteeEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SenderContentKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SignedupEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Token" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoanOfficerInvitee" nillable="true" type="tns:LoanOfficerInvitee" />
  <xs:complexType name="ArrayOfNotificationEvent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NotificationEvent" nillable="true" type="tns:NotificationEvent" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNotificationEvent" nillable="true" type="tns:ArrayOfNotificationEvent" />
  <xs:complexType name="NotificationEvent">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LoanOfficerTreeAuthUserUID" type="ser:guid" />
      <xs:element minOccurs="0" name="PostedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="QuestionID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NotificationEvent" nillable="true" type="tns:NotificationEvent" />
  <xs:complexType name="ArrayOfAnswer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Answer" nillable="true" type="tns:Answer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAnswer" nillable="true" type="tns:ArrayOfAnswer" />
  <xs:complexType name="ArrayOfQuestion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Question" nillable="true" type="tns:Question" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQuestion" nillable="true" type="tns:ArrayOfQuestion" />
  <xs:complexType name="ArrayOfTeacherAward">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TeacherAward" nillable="true" type="tns:TeacherAward" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTeacherAward" nillable="true" type="tns:ArrayOfTeacherAward" />
</xs:schema>