HeaderFooter/Service References/LTContentStoreReference/LTContentStore5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://iws.dev.tree.com/LTContentStoreService/LTContentStore.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LTContentStore.Entities" />
  <xs:import schemaLocation="http://iws.dev.tree.com/LTContentStoreService/LTContentStore.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://iws.dev.tree.com/LTContentStoreService/LTContentStore.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://iws.dev.tree.com/LTContentStoreService/LTContentStore.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" />
  <xs:element name="GetContentByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="contentId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContentByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LTContentStore.Entities" minOccurs="0" name="GetContentByIDResult" nillable="true" type="q1:LTContent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContentGroups">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContentGroupsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/LTContentStore.Entities" minOccurs="0" name="GetContentGroupsResult" nillable="true" type="q2:ArrayOfLTContentGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContentGroupByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="contentGroupName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContentGroupByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/LTContentStore.Entities" minOccurs="0" name="GetContentGroupByNameResult" nillable="true" type="q3:LTContentGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContentByTypeAndKey">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/LTContentStore.Entities" minOccurs="0" name="contentType" type="q4:ContentType" />
        <xs:element minOccurs="0" name="contentKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContentByTypeAndKeyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/LTContentStore.Entities" minOccurs="0" name="GetContentByTypeAndKeyResult" nillable="true" type="q5:LTContent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContentByKeys">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="contentKeys" nillable="true" type="q6:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContentByKeysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/LTContentStore.Entities" minOccurs="0" name="GetContentByKeysResult" nillable="true" type="q7:ArrayOfLTContent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContentByGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="groupName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="includeChildGroups" type="xs:boolean" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContentByGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/LTContentStore.Entities" minOccurs="0" name="GetContentByGroupResult" nillable="true" type="q8:LTContentQueryResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContentByGroupAndType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="groupName" nillable="true" type="xs:string" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/LTContentStore.Entities" minOccurs="0" name="contentType" type="q9:ContentType" />
        <xs:element minOccurs="0" name="includeChildGroups" type="xs:boolean" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContentByGroupAndTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/LTContentStore.Entities" minOccurs="0" name="GetContentByGroupAndTypeResult" nillable="true" type="q10:LTContentQueryResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GlossaryTerms">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="prefix" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GlossaryTermsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/LTContentStore.Entities" minOccurs="0" name="GlossaryTermsResult" nillable="true" type="q11:ArrayOfLTGlossaryTerm" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecommendedArticles">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="groupKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecommendedArticlesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/LTContentStore.Entities" minOccurs="0" name="GetRecommendedArticlesResult" nillable="true" type="q12:ArrayOfLTArticle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAppSettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="appName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="appEnvironment" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAppSettingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/LTContentStore.Entities" minOccurs="0" name="GetAppSettingsResult" nillable="true" type="q13:ArrayOfAppSetting" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchContent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/LTContentStore.Entities" minOccurs="0" name="request" nillable="true" type="q14:LTContentQueryRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchContentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/LTContentStore.Entities" minOccurs="0" name="SearchContentResult" nillable="true" type="q15:LTContentQueryResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MoreLikeThis">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="contentId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MoreLikeThisResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/LTContentStore.Entities" minOccurs="0" name="MoreLikeThisResult" nillable="true" type="q16:LTContentQueryResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSnippetById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSnippetByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/LTContentStore.Entities" minOccurs="0" name="GetSnippetByIdResult" nillable="true" type="q17:Snippet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTokens">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTokensResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/LTContentStore.Entities" minOccurs="0" name="GetAllTokensResult" nillable="true" type="q18:ArrayOfToken" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveDisclosures">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveDisclosuresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/LTContentStore.Entities" minOccurs="0" name="GetActiveDisclosuresResult" nillable="true" type="q19:ArrayOfDisclosure" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDisclosure">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="disclosureId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDisclosureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/LTContentStore.Entities" minOccurs="0" name="GetDisclosureResult" nillable="true" type="q20:Disclosure" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPromos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPromosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/LTContentStore.Entities" minOccurs="0" name="GetAllPromosResult" nillable="true" type="q21:ArrayOfPromo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPromo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="promoKey" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPromoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/LTContentStore.Entities" minOccurs="0" name="GetPromoResult" nillable="true" type="q22:Promo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReindexContentTypeToSolr">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/LTContentStore.Entities" minOccurs="0" name="contentType" type="q23:ContentType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReindexContentTypeToSolrResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReindexContentItemToSolr">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/LTContentStore.Entities" minOccurs="0" name="contentType" type="q24:ContentType" />
        <xs:element minOccurs="0" name="contentKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReindexContentItemToSolrResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReindexAllToSolr">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReindexAllToSolrResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveFromSolr">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/LTContentStore.Entities" minOccurs="0" name="contentType" type="q25:ContentType" />
        <xs:element minOccurs="0" name="contentKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveFromSolrResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteVerificationCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loanOfficerId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="verificationCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteVerificationCodeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLoanOfficerByUID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="authorizationUID" type="q26:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLoanOfficerByUIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/LTContentStore.Entities" minOccurs="0" name="GetLoanOfficerByUIDResult" nillable="true" type="q27:LoanOfficer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllLoanOfficerNames">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="contentId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllLoanOfficerNamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/LTContentStore.Entities" minOccurs="0" name="GetAllLoanOfficerNamesResult" nillable="true" type="q28:ArrayOfLoanOfficerName" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLoanOfficerBranchLocations">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="contentId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLoanOfficerBranchLocationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/LTContentStore.Entities" minOccurs="0" name="GetLoanOfficerBranchLocationsResult" nillable="true" type="q29:ArrayOfLoanOfficerBranchLocation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLoanOfficerProfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/LTContentStore.Entities" minOccurs="0" name="loanOfficer" nillable="true" type="q30:LoanOfficer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLoanOfficerProfileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/LTContentStore.Entities" minOccurs="0" name="UpdateLoanOfficerProfileResult" nillable="true" type="q31:LoanOfficer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLoanOfficerDirectoryEmailAddress">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="authorizationUID" type="q32:guid" />
        <xs:element minOccurs="0" name="newEmailAddress" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLoanOfficerDirectoryEmailAddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/LTContentStore.Entities" minOccurs="0" name="UpdateLoanOfficerDirectoryEmailAddressResult" nillable="true" type="q33:LoanOfficer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLoanOfficer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="contentKey" nillable="true" type="xs:string" />
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/System.Collections.Generic" minOccurs="0" name="fieldsToModify" nillable="true" type="q34:ArrayOfKeyValuePairOfLoanOfficerFieldsstringIh_PHxhEZ" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLoanOfficerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/LTContentStore.Entities" minOccurs="0" name="UpdateLoanOfficerResult" nillable="true" type="q35:LoanOfficer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateLoanOfficerProfileIfNotExists">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/LTContentStore.Entities" minOccurs="0" name="loanOfficer" nillable="true" type="q36:LoanOfficer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateLoanOfficerProfileIfNotExistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/LTContentStore.Entities" minOccurs="0" name="CreateLoanOfficerProfileIfNotExistsResult" nillable="true" type="q37:LoanOfficer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateLoanOfficersFromNMLSFeed">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/LTContentStore.Entities" minOccurs="0" name="loanOfficers" nillable="true" type="q38:ArrayOfLoanOfficer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateLoanOfficersFromNMLSFeedResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendContactLoanOfficerEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/LTContentStore.Entities" minOccurs="0" name="loanOfficer" nillable="true" type="q39:LoanOfficer" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userEmail" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userPhone" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendContactLoanOfficerEmailResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendRequestReviewEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/LTContentStore.Entities" minOccurs="0" name="loanOfficer" nillable="true" type="q40:LoanOfficer" />
        <xs:element xmlns:q41="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="toEmailAddress" nillable="true" type="q41:ArrayOfstring" />
        <xs:element minOccurs="0" name="emailBody" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendRequestReviewEmailResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendLoanOfficerInvitationEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/LTContentStore.Entities" minOccurs="0" name="loanOfficer" nillable="true" type="q42:LoanOfficer" />
        <xs:element xmlns:q43="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="toEmailAddress" nillable="true" type="q43:ArrayOfstring" />
        <xs:element minOccurs="0" name="emailBody" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendLoanOfficerInvitationEmailResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFeaturedLoanOfficers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="randomCount" type="xs:int" />
        <xs:element minOccurs="0" name="stateOrZipCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isZipCode" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFeaturedLoanOfficersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/LTContentStore.Entities" minOccurs="0" name="GetFeaturedLoanOfficersResult" nillable="true" type="q44:ArrayOfFeaturedLoanOfficer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IncrementFeaturedLoanOfficerImpressionCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/LTContentStore.Entities" minOccurs="0" name="featuredLoanOfficers" nillable="true" type="q45:ArrayOfFeaturedLoanOfficer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IncrementFeaturedLoanOfficerImpressionCountResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReviewByUserId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="productId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="anonymousId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReviewByUserIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/LTContentStore.Entities" minOccurs="0" name="GetReviewByUserIdResult" nillable="true" type="q46:RequestReview" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReviewsByLenderKey">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lenderKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReviewsByLenderKeyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/LTContentStore.Entities" minOccurs="0" name="GetReviewsByLenderKeyResult" nillable="true" type="q47:ReviewQueryResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReviewsByLenderKeySorted">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lenderKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/LTContentStore.Entities" minOccurs="0" name="sortBy" type="q48:ReviewSortBy" />
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/LTContentStore.Entities" minOccurs="0" name="sortOrder" type="q49:SortOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReviewsByLenderKeySortedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/LTContentStore.Entities" minOccurs="0" name="GetReviewsByLenderKeySortedResult" nillable="true" type="q50:ReviewQueryResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReviewUpVote">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="reviewId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReviewUpVoteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/LTContentStore.Entities" minOccurs="0" name="ReviewUpVoteResult" nillable="true" type="q51:LenderReview" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReviewDownVote">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="reviewId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReviewDownVoteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/LTContentStore.Entities" minOccurs="0" name="ReviewDownVoteResult" nillable="true" type="q52:LenderReview" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReviewsByLenderKeyFiltered">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lenderKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="ratingFilter" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReviewsByLenderKeyFilteredResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/LTContentStore.Entities" minOccurs="0" name="GetReviewsByLenderKeyFilteredResult" nillable="true" type="q53:ReviewQueryResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReviews">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/LTContentStore.Entities" minOccurs="0" name="contentType" type="q54:ContentType" />
        <xs:element minOccurs="0" name="contentKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReviewsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/LTContentStore.Entities" minOccurs="0" name="GetReviewsResult" nillable="true" type="q55:ContentReviewQueryResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReviewsSorted">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/LTContentStore.Entities" minOccurs="0" name="contentType" type="q56:ContentType" />
        <xs:element minOccurs="0" name="contentKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/LTContentStore.Entities" minOccurs="0" name="sortBy" type="q57:ReviewSortBy" />
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/LTContentStore.Entities" minOccurs="0" name="sortOrder" type="q58:SortOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReviewsSortedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/LTContentStore.Entities" minOccurs="0" name="GetReviewsSortedResult" nillable="true" type="q59:ContentReviewQueryResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpVoteReview">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="reviewId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpVoteReviewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/LTContentStore.Entities" minOccurs="0" name="UpVoteReviewResult" nillable="true" type="q60:ContentReview" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownVoteReview">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="reviewId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownVoteReviewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/LTContentStore.Entities" minOccurs="0" name="DownVoteReviewResult" nillable="true" type="q61:ContentReview" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReviewsFiltered">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/LTContentStore.Entities" minOccurs="0" name="contentType" type="q62:ContentType" />
        <xs:element minOccurs="0" name="contentKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="ratingFilter" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReviewsFilteredResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/LTContentStore.Entities" minOccurs="0" name="GetReviewsFilteredResult" nillable="true" type="q63:ContentReviewQueryResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendEmailIfNewReviews">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendEmailIfNewReviewsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveContentReview">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/LTContentStore.Entities" minOccurs="0" name="review" nillable="true" type="q64:RequestReview" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveContentReviewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveContentReviewResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReviewsForBazaarVoiceSubmission">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReviewsForBazaarVoiceSubmissionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/LTContentStore.Entities" minOccurs="0" name="GetReviewsForBazaarVoiceSubmissionResult" nillable="true" type="q65:RequestReviewQueryResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReviewsForBazaarVoiceRetrieval">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReviewsForBazaarVoiceRetrievalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/LTContentStore.Entities" minOccurs="0" name="GetReviewsForBazaarVoiceRetrievalResult" nillable="true" type="q66:RequestReviewQueryResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateReviewByReviewIdForMderation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/LTContentStore.Entities" minOccurs="0" name="review" nillable="true" type="q67:RequestReview" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateReviewByReviewIdForMderationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateReviewByReviewIdForMderationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRetriveCommentAndStatusFromBazarVoice">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/LTContentStore.Entities" minOccurs="0" name="review" nillable="true" type="q68:RequestReview" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRetriveCommentAndStatusFromBazarVoiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateRetriveCommentAndStatusFromBazarVoiceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateReviewProductFromBazaarVoice">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/LTContentStore.Entities" minOccurs="0" name="reviewProduct" nillable="true" type="q69:ReviewProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateReviewProductFromBazaarVoiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateReviewProductFromBazaarVoiceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateReviewTextModerationStatusById">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/LTContentStore.Entities" minOccurs="0" name="review" nillable="true" type="q70:RequestReview" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateReviewTextModerationStatusByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateReviewTextModerationStatusByIdResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRatingDistributionFromBazaarVoice">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/LTContentStore.Entities" minOccurs="0" name="ratingDistribution" nillable="true" type="q71:RatingDistribution" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRatingDistributionFromBazaarVoiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateRatingDistributionFromBazaarVoiceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReviewByProductIdAndAuthorizationUID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="authorizationUid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReviewByProductIdAndAuthorizationUIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/LTContentStore.Entities" minOccurs="0" name="GetReviewByProductIdAndAuthorizationUIDResult" nillable="true" type="q72:RequestReviewQueryResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReviewByProductIdAndEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReviewByProductIdAndEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/LTContentStore.Entities" minOccurs="0" name="GetReviewByProductIdAndEmailResult" nillable="true" type="q73:RequestReviewQueryResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateReviewClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/LTContentStore.Entities" minOccurs="0" name="review" nillable="true" type="q74:RequestReview" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateReviewClientResponseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateReviewClientResponseResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRatingsByProductId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRatingsByProductIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/LTContentStore.Entities" minOccurs="0" name="GetRatingsByProductIdResult" nillable="true" type="q75:ReviewProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRatingsByProductIds">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productIds" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRatingsByProductIdsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/LTContentStore.Entities" minOccurs="0" name="GetRatingsByProductIdsResult" nillable="true" type="q76:ArrayOfReviewProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyInvitees">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loContentKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyInviteesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/LTContentStore.Entities" minOccurs="0" name="GetMyInviteesResult" nillable="true" type="q77:ArrayOfLoanOfficerInvitee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveLoanOfficerInvitation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/LTContentStore.Entities" minOccurs="0" name="invitees" nillable="true" type="q78:ArrayOfLoanOfficerInvitee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveLoanOfficerInvitationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveLoanOfficerInvitationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateInviteeClaim">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="emailId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="loContentKey" nillable="true" type="xs:string" />
        <xs:element xmlns:q79="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q79:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateInviteeClaimResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateInviteeClaimResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInviteeEmailByUniqueNo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q80="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userUniqueNo" type="q80:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInviteeEmailByUniqueNoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q81="http://schemas.datacontract.org/2004/07/LTContentStore.Entities" minOccurs="0" name="GetInviteeEmailByUniqueNoResult" nillable="true" type="q81:LoanOfficerInvitee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateNumberOfViews">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="contentId" type="xs:int" />
        <xs:element minOccurs="0" name="contentKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateNumberOfViewsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q82="http://schemas.datacontract.org/2004/07/LTContentStore.Entities" minOccurs="0" name="UpdateNumberOfViewsResult" nillable="true" type="q82:LTVideo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuestionById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuestionByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q83="http://schemas.datacontract.org/2004/07/LTContentStore.Entities" minOccurs="0" name="GetQuestionByIdResult" nillable="true" type="q83:Question" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllQuestionTopics">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllQuestionTopicsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q84="http://schemas.datacontract.org/2004/07/LTContentStore.Entities" minOccurs="0" name="GetAllQuestionTopicsResult" nillable="true" type="q84:ArrayOfLTContentGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateQuestion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q85="http://schemas.datacontract.org/2004/07/LTContentStore.Entities" minOccurs="0" name="question" nillable="true" type="q85:Question" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateQuestionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q86="http://schemas.datacontract.org/2004/07/LTContentStore.Entities" minOccurs="0" name="CreateQuestionResult" nillable="true" type="q86:Question" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUpdateAnswerForQuestion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q87="http://schemas.datacontract.org/2004/07/LTContentStore.Entities" minOccurs="0" name="answer" nillable="true" type="q87:Answer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUpdateAnswerForQuestionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateUpdateAnswerForQuestionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUpdateVoteForAnswer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q88="http://schemas.datacontract.org/2004/07/LTContentStore.Entities" minOccurs="0" name="vote" nillable="true" type="q88:Vote" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUpdateVoteForAnswerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNotifications">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q89="http://schemas.datacontract.org/2004/07/LTContentStore.Entities" minOccurs="0" name="notificationEvent" nillable="true" type="q89:ArrayOfNotificationEvent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNotificationsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateQuestionWithLoggedInUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q90="http://schemas.datacontract.org/2004/07/LTContentStore.Entities" minOccurs="0" name="question" nillable="true" type="q90:Question" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateQuestionWithLoggedInUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVoteForUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="answerId" type="xs:int" />
        <xs:element xmlns:q91="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="treeAuthUid" type="q91:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVoteForUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q92="http://schemas.datacontract.org/2004/07/LTContentStore.Entities" minOccurs="0" name="GetVoteForUserResult" nillable="true" type="q92:Vote" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTeacherAward">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q93="http://schemas.datacontract.org/2004/07/LTContentStore.Entities" minOccurs="0" name="teacherAward" nillable="true" type="q93:TeacherAward" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTeacherAwardResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnswersForQuestion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="questionId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnswersForQuestionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q94="http://schemas.datacontract.org/2004/07/LTContentStore.Entities" minOccurs="0" name="GetAnswersForQuestionResult" nillable="true" type="q94:ArrayOfAnswer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuestions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="requireAnswers" type="xs:boolean" />
        <xs:element minOccurs="0" name="sortBy" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuestionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q95="http://schemas.datacontract.org/2004/07/LTContentStore.Entities" minOccurs="0" name="GetQuestionsResult" nillable="true" type="q95:LTContentQueryResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnansweredQuestions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="topics" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnansweredQuestionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q96="http://schemas.datacontract.org/2004/07/LTContentStore.Entities" minOccurs="0" name="GetUnansweredQuestionsResult" nillable="true" type="q96:LTContentQueryResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuestionsByState">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="state" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="requireAnswers" type="xs:boolean" />
        <xs:element minOccurs="0" name="sortBy" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuestionsByStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q97="http://schemas.datacontract.org/2004/07/LTContentStore.Entities" minOccurs="0" name="GetQuestionsByStateResult" nillable="true" type="q97:LTContentQueryResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuestionsByTopic">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="topic" type="xs:int" />
        <xs:element minOccurs="0" name="requireAnswers" type="xs:boolean" />
        <xs:element minOccurs="0" name="sortBy" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuestionsByTopicResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q98="http://schemas.datacontract.org/2004/07/LTContentStore.Entities" minOccurs="0" name="GetQuestionsByTopicResult" nillable="true" type="q98:LTContentQueryResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuestionsAnsweredBy">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q99="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="loanOfficerGuid" type="q99:guid" />
        <xs:element minOccurs="0" name="sortBy" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuestionsAnsweredByResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q100="http://schemas.datacontract.org/2004/07/LTContentStore.Entities" minOccurs="0" name="GetQuestionsAnsweredByResult" nillable="true" type="q100:LTContentQueryResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRelatedQuestions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="topics" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="requireAnswers" type="xs:boolean" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRelatedQuestionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q101="http://schemas.datacontract.org/2004/07/LTContentStore.Entities" minOccurs="0" name="GetRelatedQuestionsResult" nillable="true" type="q101:LTContentQueryResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuestionsNeedingAnswers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lookbackDays" type="xs:int" />
        <xs:element minOccurs="0" name="requiredAnswerCount" type="xs:int" />
        <xs:element minOccurs="0" name="requiredVoteCount" type="xs:int" />
        <xs:element minOccurs="0" name="maxHistoryCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuestionsNeedingAnswersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q102="http://schemas.datacontract.org/2004/07/LTContentStore.Entities" minOccurs="0" name="GetQuestionsNeedingAnswersResult" nillable="true" type="q102:ArrayOfQuestion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetParticipatingLoanOfficers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetParticipatingLoanOfficersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q103="http://schemas.datacontract.org/2004/07/LTContentStore.Entities" minOccurs="0" name="GetParticipatingLoanOfficersResult" nillable="true" type="q103:ArrayOfLoanOfficer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeacherAwardForVoting">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeacherAwardForVotingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q104="http://schemas.datacontract.org/2004/07/LTContentStore.Entities" minOccurs="0" name="GetTeacherAwardForVotingResult" nillable="true" type="q104:ArrayOfTeacherAward" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTeacherVote">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q105="http://schemas.datacontract.org/2004/07/LTContentStore.Entities" minOccurs="0" name="teacherAward" nillable="true" type="q105:TeacherAward" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTeacherVoteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateTeacherVoteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeacherAwardIdByFaceBookUserId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="facebookUserId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeacherAwardIdByFaceBookUserIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTeacherAwardIdByFaceBookUserIdResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUpdateArticle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q106="http://schemas.datacontract.org/2004/07/LTContentStore.Entities" minOccurs="0" name="article" nillable="true" type="q106:LTArticle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUpdateArticleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateUpdateArticleResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>